*{
margin:0;
padding:0;
box-sizing:border-box;
}

.image {
	width:80px;
	height:80px;
}
.header{
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
	background:teal;
}
.nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.menu{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.menu li{
	list-style-type:none;
}
.menu li a{
	color:white;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	padding:20px;
}
.toggler, .burger{
	display:none;
}
.menu li a:hover{
	color:yellow;
}

@media screen and (max-width: 700px) {
	.burger{
		display:block;
		font-size:20px;
		z-index:5;
		padding:20px;
	}
	.menu{
		justify-content:start;
		flex-direction:column;
		align-items:center;
		position:fixed;
		top:0;
		right:-300px;
		padding-top:80px;
		background:teal;
		width:200px;
		height:100%;
		transition:0.3s;
	}
	.menu li{
		padding:20px;
	}
	.toggler:checked ~ .menu{
		right:0;
	}
}